body {
    font-family: sans-serif;
    padding: 20px;
    background: #f4f4f4;
}


#textToBeTyped {
    background: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}